{% extends "header.html" %}
{% load static %} 
{% block content%}

<div class="main-grid-con">
    <div class="main-grid">
        <div class="first-quad">

            <div class="box-con">
                <div class="top-quote">
                    <div class="line-one">
                        <h1 class="head-home">/ THE C </h1>
                       <img src="{% static 'images/Y2k shape_117 2.png' %}" alt="spiral" class="img-spiral-hm">
                       <h1 class="head-home half-way">ST OF BEING WORNG</h1>
                    </div>
                    <div class="line-two">
                        <div class="line-coner">
                            <div class="line-line"></div>
                        </div>
                        
                        <h1 class="head-home mid-text-home">IS LESS THAN</h1>
                    </div>
                    <div class="line-three">
                        <h1 class="head-home btm-text">THE C0ST OF DOING NOTHING/</h1>
                    </div>

                </div>
                <div class="ref-persn-hm">
                    <p class="qute-by">-SETH GODIN</p>
                </div>
                
            </div>
        </div>
        <div class="second-quad">
            <div class="button-con">
                <button class="commun-button"><div class="bitton-text">/JOINCOMMUNITY</div></button>
            </div>
        </div>
        <div class="thrid-quad">
           <div class="square-con">
                <div class="first-cube">
                    <div class="cube-con one-cube">
                        <h2 class="cube-head">/JOMO</h2>
                        <div class="line-cube"></div>
                        <p class="noun-text">(NOUN)</p>
                        <br>
                        <p class="def-text">JOY OF MISSING OUT. FEELING CONTENT 
                            WITH STAYING IN AND DISCONNECTING AS A 
                            FORM OF SELF CARE.
                        </p>
                        <br>
                        <div class="anton-con">
                            <p class="Antm-text">ANTONYM: FOMO</p>
                        </div>
                        

                    </div>
                </div>
                <div class="sec-cube">
                    
                    <a class="link-st" href="#">
                        <div class="cube-con-tw">
                            <h2 class="cube-head cube-h-col">/ NFT - <br> COLLECTION</h2>
                        </div>
                    </a>
                    
                </div>
                <div class="qr-cube">
                    <img src="{%static 'images/QR Code.png' %}" alt="qr-code" class="img-qr">
            </div>
           </div>


        </div>
        <div class="fourth-quad">
            <div class="fourth-con">
                <img src="{%static 'images/Y2k shape_79 1.png' %}" alt="x" class="img-cross">
            </div>
            
        </div>
    </div>
</div>
{% endblock %}