{%extends "header.html"%}
{%block content%}
<h1 class="log-text"> /LOGIN AS USER </h1>
<form action="{% url 'user_auth:authenticate_user' %}" method="post">
    {% csrf_token %}
    <label>Username</label>
    <input type="text" name="username" placeholder="User" required class="text-field">
    <br/><br/>
    <label>Password</label>
    <input type="password" name="password" required class="text-field">
    <br/><br/>
    <input type="submit" value="LOGIN" />
</form>
<div class="sign-up-con">
    <p>No account. Sign up now:</p>
    <br>
    <button class="sig-but"> <a href="{%url 'user_auth:signup'%}" class="sig-text">SIGN UP</a></button>
</div>

{% endblock %}