{% extends "headerdark.html" %}
{%load static%}

{%block content%}
<div class="main-deats-area">
    <div class="main-deats-grid">
        <div class="lef-colu">
            <div class="img-con">
                <img src="{%static 'images/detialres/prod_nothing.png'%}" alt="nothing-ear" class="img-pow">
            </div>
        </div>
        <div class="right-colu">
            <div class="box-quest-con">
                <div class="box-top">
                    <div class="quest-con">
                        <h1 class="deats-head">/{{ question.question_text}}</h1>
                        {%  if error_message%}
                         <p><strong>{{error_message}}</strong></p>
                         {% endif %}
                    </div>
                    <div class="choice-grid-con">
                        <div class="choice-left">
                            <div class="choices-con">
                                <form action="{%url 'polls:vote' question.id %}" method="post" >
                                    {% csrf_token %}
                            
                                    {%for choice in question.choice_set.all%}
                            
                                    <input type="radio" name="choice" id="choice {{forloop.counter}} " value="{{choice.id}}"/>
                                    <label for="choice {{forloop.counter}} " classs="choice-text" >{{choice.choice_text}}</label>
                                    <br />
                                    {%endfor%}
                                    <div class="choice-button-con">
                                        <input type="submit" value="Vote" class="sub-button">
                                    </div>
                                    
                                </form>
                            </div>
                           
                            <div class="taglibe-con">
                                <p class="tag-line"> ALWAYS STAY FROSTY!</p>
                            </div>
                        </div>
                        <div class="choice-right">
                            <div class="line-con">
                                <div class="choice-line"></div>
                            </div>
                            <div class="x-img-con">
                                <img src="{% static 'images/detialres/ximg.png' %}" alt="ximage" class="ximg">
                            </div>
                        </div>

                    </div>
                </div>
                <box class="box-bottom">
                    <div class="bar-con">
                        <img src="{% static 'images/detialres/bar-code.png' %}" alt="bar-code" class="img-barcode">
                    </div>
                    <div class="qr-con">
                        <img src="{% static 'images/detialres/Vector.png' %}" alt="qr-code" class="img-qr-rus">
                    </div>
                </box>
            </div>
            <div class="pow-con">
                <h2 class="pow-title"> <-PRODUCT OF THE WEEK </h2>
            </div>
        </div>
    </div>
</div>






{% endblock %}